$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower


/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    background-image: url("http://www.burntfen.com/our-grounds/images/landing.png");
    background-repeat: repeat;
    background-position: left top;
    background-size: 30%;
}

.text {
    background: #fba722;
    border-radius: 20px;
    opacity: .9;
    margin: 200px auto;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    padding: 20px 0;
    width: 300px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

}
